


  <section class='sezione-parallax flex flex-1'>

    <div class="parallax">
      <div class="parallax__layer parallax__layer__0">
        <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_0.png?raw=true" />
      </div>
      <div class="parallax__layer parallax__layer__1">
        <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_1.png?raw=true" />
      </div>
      <div class="parallax__layer parallax__layer__2">
        <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_2.png?raw=true" />
      </div>
      <div class="parallax__layer parallax__layer__3">
        <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_3.png?raw=true" />
      </div>
      <div class="parallax__layer parallax__layer__4">
        <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_4.png?raw=true" />
      </div>
      <div class="parallax__layer parallax__layer__5">
        <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_5.png?raw=true" />
      </div>
      <div class="parallax__layer parallax__layer__6">
        <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_6.png?raw=true" />
      </div>
      <div class="parallax__cover">

        <div class="bgimg-1">
          <div class="caption">

          </div>

        <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
          <h3 style="text-align:center;">Esti pasionat de calatorit si fotografie?</h3>
          <p style="    margin-left: 200px;">Aplicatia noastra iti ofera posibilitatea de a transforma pasiunile tale intr-o sursa de venit! Daca ai la dispozitie fotografii din destinatii exotice sau turistice, incarca-le la noi pe site si transforma-le in NFT-uri! In felul asta iti vei valida autenticitatea acestora si vei avea posibilitatea vanzarii acestora in schimbul unui pret stabilit de tine, in EGLD.</p>
          <p style="    margin-left: 200px;">Cum functioneaza?</p>
          <ul style="    margin-left: 200px;">
         <li>Te autentifici pe platforma noastra cu Maiar Wallet</li>
         <li>Incarci una sau mai multe fotografii din galeria personala</li>
         <li>Adaugi tag-uri specifice fiecarei imagini, acestea vor fi utilizate drept TRAIT-uri</li>
         <li>Dupa completarea detaliilor necesare, transformi imaginea intr-un NFT. Asiguram acest proces rapid si eficient, cu fee-uri mici.</li>
         <li>Odata mintat NFT-ul, il vei putea pune la vanzare pentru un tarif stabilit de tine in EGLD.</li>
         <LI>Dupa vanzarea acestuia vei avea in Wallet-ul personal valoarea rezultata dupa scaderea fee-urilor platformei.</LI>
       </ul>
        </div>
        </div>

        <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
          <h3 style="text-align:center;">Utilitate</h3>
          <ul style="    margin-left: 200px;">
          <li>Tineri pasionati de fotografie</li>
          <li>Persoane care calatoresc foarte mult</li>
          <li>Influenceri si Digital Creatori</li>
          <li>Agentii de turism</li>
          <li>Hoteluri, moteluri, unitati de cazare</li>
          <li>Agentii de publicitate sau marketing</li>
          <li>Colectionari de fotografii</li>
          <li>Content Creatori (pentru a utiliza imaginile tale in postari pe social media)</li>
          </ul>
        </div>

        <div class="bgimg-2">
          <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
          </div>
        </div>

        <div style="position:relative;">
          <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">

          </div>
        </div>

        <div class="bgimg-3">
          <div class="caption">

          </div>
        </div>

        <div style="position:relative;">
          <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">

          </div>
        </div>

        <div class="bgimg-4">
          <div class="caption">

          </div>
        </div>


      </div>
    </div>
  </section>


